*{
    background-color: rgb(234, 236, 236);
}

h1 {
display: flex;
justify-content: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #7d858d;
}

th, td {
    border: 1px solid #7d858d;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #99a6b3;
    color: white;
}

.input-table {
    margin: 20px auto;
    border: 2px solid #7d858d;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.input-table td {
    text-align: left;
    padding: 5px;
    width: 50%;
}

.input-table label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.input-table input {
    width: 90%;
    padding: 3px;
    border: 1px solid #7d858d;
    border-radius: 5px;
}

.input-table button {
    display: block; 
    margin: 0 auto; 
    width: 50%;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.hidden {
    display: none;
}